<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Generic OCR</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/detections/style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Generic OCR</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-box' ></i>
            <span class="links_name">settings</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
    </nav>

    <div class="home-content">
       <p style="color: #000;font-size: 20px;font-weight: 500">Here we giving the OCR solution from the given invoices.</p>
        <p style="color: #000;font-size: 20px;font-weight: 500">Please give the input invoice image to generate results</p>
        <form style="color:#081D45;font-weight:500;" action="/results/" enctype="multipart/form-data" method="post">
        <input style="color:#081D45;font-weight:500;" name="file" type="file" accept="image/gif, image/jpeg, image/png, image/tif">
        <input style="color:#fff; background-color:#081D45; size: 20px;" type="submit" value = "OCR-Detection">
        </form>
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>

